body {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5px;
    grid-template-rows: 70px auto 100px;
    width: 50%;
    min-height: auto;
    overflow: hidden;
    background: linear-gradient(powderblue, fuchsia);
}

header {
    grid-column: span 4;
    grid-row: span 1;
    background-color: black;
}

main {
    grid-column: span 4;
    grid-row: span 1;
    background-color: green;
}

footer {
    grid-column: span 4;
    grid-row: span 1;
    background-color: yellow;
}

.style {
    height: 200px;
}